.slider {
    .carousel-inner {
        height: 420px;
    }
}

.card {
    cursor: pointer;
}

.carousel-multi-item img {
    max-width: 83%;
    height: auto;
    margin: auto;
    margin-top: 27px;
}

h5 {
    margin-top: 26px;
    color: black;
    font-weight: 800;
    font-size: 16px;
}

p {
    color: #76b600;
    font-size: 14px;
}

p strike {
    color: gray;
}

.fetures {
    h4 {
        color: #76b600 !important;
    }
}

.intro {
    button {
        display: block;
    }
    .data {
        background-color: #d7edcd;
        border-radius: 10px;
    }
    .intro {
        padding: 45px;
    }
    .btn {
        height: 32px;
        padding-top: 7px;
        border-radius: 34px;
        background-color: #801323 !important;
    }
    strong {
        font-weight: 800;
    }
}

.recmded {
    .fa-star {
        color: #f3c752;
        padding-left: 2px;
    }
    p {
        color: #007bff;
    }
    a {
        color: #76b600;
        font-size: 13px;
        /* margin-top: 38px; */
        position: relative;
        top: 14px;
    }
}

@media screen and (max-width:768px) {
    .card {
        width: 160px;
    }
    .carousel-inner {
        height: auto;
    }
}

@media screen and (max-width:760px) {
    .card {
        width: 220px;
    }
    .carousel-inner {
        height: auto;
    }
}

@media screen and (max-width:520px) {
    .card {
        width: 210px;
    }
    .carousel-inner {
        height: auto;
    }
}

@media screen and (max-width:490px) {
    .card {
        width: 420px;
    }
    .carousel-inner {
        height: auto;
    }
}

@media screen and (max-width:460px) {
    .card {
        width: 390px;
    }
    .carousel-inner {
        height: auto;
    }
}

@media screen and (max-width:430px) {
    .card {
        width: 368px;
    }
    .carousel-inner {
        height: auto;
    }
}

@media screen and (max-width:360px) {
    .card {
        width: 300px;
    }
    .carousel-inner {
        height: auto;
    }
}

@media screen and (max-width:375px) {
    .card {
        width: 300px;
    }
    .carousel-inner {
        height: auto;
    }
}